:root{
    --branco-principal:#FFFFFF;
    --cinza-secundário: #C0C0C0;
    --botao-azul: #000000;
    --cor-de-fundo:#4c70dd;
}

body{
    background-color: var(--cor-de-fundo)
    color: var(--branco-principal);
} 

{margin: 0;
    paddin: 0;
}


.principal {
    background-image: url("download.jpeg");
}